body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #222831;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #08D9D6;
    transition: color 0.3s;
}

nav a:hover {
    color: #333;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.products {
    text-align: center;
    background-color: #00ADB5;
}

img{
    width: 450px;
    height: 400px;
    margin-right: 1rem;
}